In [199]:
import pandas as pd

In [200]:
df = pd.read_csv("./FIFA18_players_database/clean_data.csv", low_memory=False)
df = df.sample(frac=1).reset_index(drop=True) # Shuffle the rows of the dataframe
X = df.iloc[:, range(1, 36)]
y = df.iloc[:, 36]

num_rows = len(df.index)
num_train_rows = int(num_rows * 0.8)
num_test_rows = num_rows - num_train_rows

X_train = X.head(num_train_rows)
X_test = X.tail(num_test_rows)
y_train = y.head(num_train_rows)
y_test = y.tail(num_test_rows)

In [201]:
X_train.head()

,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
0,64,75,40,87,90,63,48,56,52,68,...,57,62,53,34,77,58,28,49,61,47
1,68,77,69+10,76,75,65+5,54,63+5,60,67+1,...,62,64,69,12,75,68,20,73,67,62
2,55,55,46,65,54,55,51,45,29,50,...,55,54,55,53,53,53,56,66,47,47
3,66,70,68,56,56,63,61,65,32,63,...,61+1,64,36,64,63,78,67,76,48,39
4,77,82,75,86,76,77,77,71,71,76,...,72,77,77,26,86,81,30,77,73,73

In [202]:
X_test.head()

,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
23052,62,61,39,69,80,66,65,58,59,68,...,56,62,61,27,56,51,30,34,59,51
23053,66,72,59,73,73,65,62,53,49,64,...,65,69,58,59,71,67,63,48,68,42
23054,52,66,39,57,58,43,45,35,37,53,...,49,38,50,21,68,59,23,62,43,38
23055,65,85,58,74,76,55,56,50,56,58,...,62,52,44,65,86,86,61,65,44,33
23056,75,69,81,69,74,72,73,62,68,63,...,76-1,75,79,78,68,81,70,70,65,54

In [203]:
y_train.head()

0      LM
1      RM
2    CDM
3      LB
4     CAM
Name: Preferred Positions, dtype: object

In [204]:
y_test.head()

23052     LW
23053    CDM
23054    ST
23055    RB
23056    CB
Name: Preferred Positions, dtype: object