In [166]:
import pandas as pd

In [167]:
df = pd.read_csv("./FIFA18_players_database/clean_data.csv", low_memory=False)
X = df.iloc[:, range(0, 36)]
y = df.iloc[:, 36]
X.head()

,Name,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
0,Rodrigo Galo,73,78,64,72,74,73,63,74,69,...,66,68,75,72,79,78,72,65,60,49
1,M. Celtejo,73,73,54,66,62,75,74,73,71,...,82,75,77,32,65,71,31,77,76,72
2,Rhayner,71,91,70,84,73,74,69,57,70,...,65,64,68,32,90,80,38,64,64,65
3,Jean Carlos,65,65,49,66,55,70,57,66,73,...,55,64,58,27,67,36,38,60,65,58
4,A. Llovet,58,68,54,76,83,54,50,58,56,...,60,60,63,21,68,50,13,34,58,60

In [168]:
y.head()

0    RB
1    CAM
2    CAM
3     LW
4    ST
Name: Preferred Positions, dtype: object